<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <style>
            #banner {
                height: 285px;
                width: 100%;
                object-fit:cover;

            }
        </style>

    </head>
    <body>


        {% include 'navigationbar_1.html' %}



        <div class="container">
            <h1 class="text-center mt-5 mb-3">M G N G & Co, Chartered Accountants</h1>
            <img class="img-fluid" id ="banner" src="../static/book keeping .jpeg" height="310">
            <br>
            <br>
            <p>

            • Prepare Industry Specific “chart of accounts”<br>
            • End customer invoicing, accounting and recording of client payments<br>
            • Track and reporting of accounts receivables ageing<br>
            • Follow up with ageing customers as per client’s suggestion<br>
            • Enter bank deposits<br>
            • Record cheque issued<br>
            • Accounting of supplier invoices<br>
            • Set up and manage supplier payment process<br>
            • Enter payroll information of your staff<br>
            • Manage monthly pay disbursement process along with statutory<br>
            compliance like TDS, PF, ESI deduction etc.<br>
            • Track advance payments made to staff<br>
            • Bank reconciliation<br>
            • Reconcile credit card transactions<br>
            • Correct any errors and write up adjustment entries<br>
            • Fixed assets accounting (from initial cost recognition to assets retirement)<br>
            • Fixed assets tagging<br>
            • Fixed assets register<br>
            • Physical fixed assets verification<br>
            • Impairment analysis<br>
            • Asset management and reporting<br>
            • Inventory management<br>
            • General ledger Reconciliation<br>
            </p>
            <p>
                <u>Software currently used in Accounting services are:</u>
                • For Indian clients
                o Tally(allversionincludingPrime) o Busy
                o SAP
                • For Australian clients o AccountsRight o MYOBEssential
                o Xero
                Benefit to your organization
                • You don’t need to hire full time employees
                • You don’t have to bother about legal compliances like PF, Gratuity etc.
                • You don’t have to pay for un utilized time of the staff as you will be paying
                on the basis of “Pay peruse”
                • You don’t have to worry about managing your accounting in the absence
                of your staff as we will have enough backup resources
                • You will be able to focus on more strategic planning
                Note:
                o We are currently managing back office accounting function of some reputed Indian and Australian client (reference can be provided during contract finalization stage)
                o Basic concept of all accounting softwares are mostly similar in nature so there is no challenge incase your accounting software is not listed above.
            </p>
        </div>
    </body>
 </html> 