


  <nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container">
    <a href="#" class="navbar-brand" >menu</a>
    <button
        class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
        <ul class="navbar-nav ">
            <li >
            <a class="nav-link" aria-current="page" href="?../templates/home.html">Home</a>
            </li>
            <li>
            <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  services
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#1">Book Keeping / Back Office Accounting</a></li>
                  <li><a class="dropdown-item" href="#2">Setting up Internal Control Procedure to Minimize Risk of Fraud</a></li>
                  <li><a class="dropdown-item" href="#3">Financial Planning & Analysis (FP&A)</a></li>
                  <li><a class="dropdown-item" href="#4">Monthly Forecast - P&L and Balance Sheet</a></li>
                  <li><a class="dropdown-item" href="#5">Periodic Budget or Target Setting Procedure</a></li>
                  <li><a class="dropdown-item" href="#6">Financial Modelling</a></li>
                  <li><a class="dropdown-item" href="#7">Tax Related Matters</a></li>
                  <li><a class="dropdown-item" href="#8">Financing Arrangement with Bankers</a></li>
                  <li><a class="dropdown-item" href="#9">Company Law Matters (Under Indian Companies/LLP Acts)</a></li>
                </ul>
              </div>
            <li>
                <a class="nav-link" href="#security">SECURITY POLICY</a>
                </li>
            <li>
                <li>
                    <a class="nav-link" href="#faci">FACILITIES</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#net">NETWORK & SYSTEM</a>
                        </li> 
                        
            <li>
            <a class="nav-link" href="#clientele">CLIENTELE</a>
            </li>
            <li>
            <a class="nav-link" href="#feemodel">FEE MODEL</a>
            </li> 
            <li>
                <a class="nav-link" href="#contacus">CONTACT US</a>
                </li>
        </ul>

</div>
</div>
</nav>
<div style="height:56px"></div>