<div class="card text-bg-dark mb-3" style="max-width: 50rem;">
    
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
        <h1 class="text-center" id>FACILITIES</h1><br><br>
        <p class="text-center">
            
            o CCTV monitoring stations in all our offices<br><br>
            o 24/7 security guards at our building<br><br>
            o Finger print scan access doors to prevent entry of un-authorized
            personnel<br><br>
            o A disaster recovery procedure in all our offices and your data is
            backed up in secure servers.<br><br>
            o No client’s data retention on our employee’s desktop/laptop as we
            encourage our employees to use secured one drive / cloud environment for client data storage<br><br>
        <p>
            <br><br>
      
    </div>
  </div>