<div class="card text-center">
    <div class="card-header">
    <div class="text-center">
    <h2 class="text-center">CONTACT US @</h2>
    <button class="btn btn-primary btn-sm">whatsapp</button>
    <button class="btn btn-primary btn-sm">email</button>
    <button class="btn btn-primary btn-sm">contact no</button>
    <button class="btn btn-primary btn-sm">linkedin</button>
    <p><u>Copyright 2022, MGNG & Co</u></p>
    <p>MGNG & Co. Chartered Accountants <br> E-48, Prashant Vihar,<br> Delhi 110 085</p>
    </div>
    </div>
    </div>