<div class="card text-center">
    <div class="card-header">
    
    <div>
    <div class="text-center">
    <h2 class="text-center" id="contacus">CONTACT US @</h2>
    <a class="btn btn-primary btn-sm" >whatsapp</a>
    <a class="btn btn-primary btn-sm" href="mailto:mgngandco@gmail.com?cc=Manish_49@yahoo.com,caneeru@gmail.com&subject=business%20Enquiry">email</a>
    <a class="btn btn-primary btn-sm" href="tel:+91965-401-2634">contact no</a>
    <button class="btn btn-primary btn-sm">linkedin</button>
    <p><u>Copyright 2022, MGNG & Co</u></p>
    <p>MGNG & Co. Chartered Accountants <br> E-48, Prashant Vihar,<br> Delhi 110 085</p>
    </div>
    </div>
    <div >
        <a>Email@-mgngandco@gmail.com</a><br>
        <a>contact-9212250127</a>
    </div>
    
    </div>
    </div>