<!DOCTYPE html>
<html>
    <head>
        <title>M G N G & Co, Chartered Accountants</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        
        
            #banner {
                height: 285px;
                width: 100%;
                

            }
        </style>

    </head>
    <body>

        {% include 'navbar_v2.html' %}



        <div class="container">
            <h1 class="text-center mt-5 mb-3">M G N G & Co, Chartered Accountants</h1>
            <img class="img-fluid" id ="banner" src="../static/banner 2 mgng.jpeg" height="310">
            <br>
            <br>
            <br>
            <div >
                <div class="p-3 mb-2 bg-dark text-white">
            <h2 class="text-center " id="about">ABOUT US</h2><br><br>
            <p  class="text-center"  class="lead">
                M G N G & Company is a partnership firm registered with Institute of Chartered Accountants of India. The firm is owned by seasoned finance professionals Mr. Manish Gupta and Mrs. Neeru Gupta, both partners are having more than 20 years of experience in the field accounting, finance, corporate advisory and taxation (both direct and indirect) matters. Below is the brief profile of both the partners.<br><br><br>
            </div>
                <div >
                <br><br>
                <h3>1. Mr. Manish Gupta</h3>
                Manish is a chartered accountant and commerce graduate from Delhi University. He possesses +20 years of work experience in finance domain. He has worked in many Indian and Multinational pioneered companies in IT and Telecom sector, to name few, he has worked in Infosys, Steria, British Telecom, Hewlett Packard. He has performed global roles in finance and handled ~$50m 10 ~$1.3b P&L size during his tenure. He is an expert in business planning, financial controls, commercial management, change management, operation finance, pricing, project management, accounting, management reporting, delivery cost reduction, and P&L management.<br><br><br>
                <a href="mailto:manish_49@yahoo.com?subject=Buisness Enquiry" type="button" class="btn btn-outline-success">Email</a>
                <a href="https://www.linkedin.com/in/manish-gupta-21881a8/"type="button" class="btn btn-outline-info">Linkedin</a>
                <a href="https://wa.me/919212250127?text=buisness%20Enquiry"type="button" class="btn btn-outline-warning">Whatsapp</a>
                </div>
                <br>
                <br>

                <div>
                <h3>2. Mrs Neeru Gupta</h3>
                Neeru is a chartered accountant and commerce graduate from Delhi University. She has an excellent academic record and a rank holder in Chartered Accountancy exam. She possesses +20 years of work experience in finance including regulatory compliances. She has worked for many reputed Indian companies in logistics, food processing, real estate, and packaging industries. She is an expert in statutory audits, internal audit, tax audit, company law compliances, tax assessment cases, financial capital restructuring, short term or long-term financial arrangement from banks, audit of cooperative societies.<br><br><br>
                <a href="mailto:caneeru@gmail.com?subject=Buisness Enquiry"type="button" class="btn btn-outline-success">Email</a>
                <a href=""type="button" class="btn btn-outline-info">Linkedin</a>
                <a href="https://wa.me/919654012634?text=buisness%20Enquiry"type="button" class="btn btn-outline-warning">Whatsapp</a>
                </div>
                <br>
                <br>
            </div>
            

            </p>
            <div class="p-3 mb-2 bg-dark text-white">




                
            <h2 class="text-center mb-5" id="services">OUR SERVICES</h2>
            <p class="text-center">
                
                    
                        <div>
                            <li>
                        Book Keeping / Back Office Accounting 
                        {% include 'p_1.html' %}
                    </li>
                        </div>
                    
                    <li>
                         Setting up Internal Control Procedure to Minimize Risk of Fraud
                         {% include 'p2.html' %}
                         

                    </li>
                    <li>
                         Financial Planning & Analysis (FP&A)
                         {% include 'p_3.html' %}
                         
                    </li>
                    <li>
                         Monthly Forecast - P&L and Balance Sheet
                         {% include 'p_4.html' %}
                        
                    </li>
                    <li>
                         Periodic Budget or Target Setting Procedure
                         {% include 'p_5.html' %}
                        
                    </li>
                    <li>
                        Financial Modelling
                        {% include 'p_6.html' %}  
                        
                    </li>
                    <li>
                         Tax Related Matters
                         {% include 'p_8.html' %}  
                         
                    </li>
                    <li>
                        Financing Arrangement with Bankers
                        {% include 'p_9.html' %} 
                        
                   </li>
                    <li>
                         Company Law Matters (Under Indian Companies/LLP Acts)
                         {% include 'p_10.html' %} 
                         
                    </li>
                
                <br>
                <br>
            </div>
            </p>
            
            <div >
                <br><br><br><br><br>
                
                
            <h2 class="text-center" id="security" >OUR SECURITY POLICY</h2>
            <p class="text-center">
                When you outsource any of your function be it bookkeeping or statutory compliance task, it must be in the trusted hands. Our team is highly qualified and professional. We understand the importance of security of ours/client’s data and/ or property (including IPR). Our security policy ensure we are fully compliant (at every point in time) on all aspect of security including data protection. We ensure that our staff get regular training on all security matters (including data protection). We do random checks to ensure all our internal controls are functioning well. We follow zero tolerance policy on any security breaches.
            </p>
            <br><br><br><br><br><br><br>
        </div>
            <br>
            <br>
            <div>
                
                <br><br>
            
            {% include 'facitilies.html' %}
            <br><br><br>
        </div>
        <div >
            
            <br><br>
            <h2 class="text-center mb-3" id="net">OUR NETWORK & SYSTEMS</h2><br><br>
            <p class="text-center" >
                o All our systems are access restricted by multiple levels of password protection<br><br>
                o Online data transfer system uses 256-bit encryption technology similar to ones used by online banking industry<br><br>
                o We use highly secured servers for our client’s data processing work which are sourced from global vendors with high reputation<br><br>
                o No printers, USB based pen devices and DVD/CD drives allowedon the work floor<br><br>
                o We are committed to fully comply on our client’s specific requirement<br><br>
            </p>
            <br>
            <br>
            <br>
            
        </div>
        <div>
            
            <br><br><br><br>

            <div class="p-3 mb-2 bg-dark text-white"><br><br>
            <h1 class="text-center mb-3" >OUR PEOPLE</h1><br>
            <p class="text-center" >
                + Our employees are highly qualified and trained from reputed institutions<br><br>
                + We have a mix of Graduate/ Post Graduate or Professional degree holders like CA etc.<br><br>
                + Our employees sign NDA (Non-disclosure agreement) before they start working on client data / environment<br><br>
                + Our recruitment process ensures independent screening of our prospective employee before employment<br><br>
                + We provide extensive data confidentiality training<br><br>
                + Currently we have 5 employees but we have a seating capacity
                that can accommodate 50 employees.
            </p>
            <br>
            <br>
            <br><br>
        </div>
        </div>

        <div>
            
            <br><br><br><br><br><br>

            <h2 class="text-center mb-3">OUR CONFIDENTIALITY</h2>
            <p class="text-center">
                We will serve you under full confidentiality agreement, we will ensure that your confidentiality to be protected. We will just work like an extension of your office. You or your nominated person will be the single point of contact for us. We will work from being behind the scenes as your trusted partner. Our agreements comprehensively cover this and you are ensured your 100% peace of mind.
            </p>
            <br>
            <br><br><br>
        </div>
        <div >
            
            <br><br><br><br>

            <div class="p-5 mb-2 bg-dark text-white"><br><br><br>
            <h1 class="text-center mb-3" id="clientele">OUR CURRENT CLIENTELE</h1><br><br>
            <p >
                
                <p class="text-center">- Our Indian client are operating in following industry or sectors <br> <br>
                ▪ Oil and Gas <br>
                ▪ Packaging Industry <br>
                ▪ Industrial raw material <br>
                ▪ Food processing <br>
                ▪ Financial services (NBFCs) <br><br><br>
                - Our Australian clients are operating in following Industry or sectors<br> <br>
                • Hotel and Restaurants <br>
                • Travel Agents <br>
                • E-Commerce <br>
                • Medical and other support services <br>
            </p>
            <br>
            <br>
            <br><br>
        </div>
            
        </div>
        <div >
            
            <br><br><br><br>
            <h1 class="text-center mt-7" id="feemodel">OUR CURRENT FEE MODEL </h1><br><br>
            <p>
                <p class="text-center">We are flexible in terms of fee structure. Our moto is to provide best class services at right cost of delivery to our client. We believe in maintaining long term relationship with our clients. Currently we operate under following fee terms with our customers.<br></p><br>

                <div class="text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Explore feemodel
                  </button>
                </div>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title  fs-5" id="staticBackdropLabel">FEE MODEL</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row align-items-center">
                                <div class="modal-dialog modal-sm">
                                    <p>
                                        • Fixed Fee Model – We charge fixed fee per month to our client with agreed monthly deliverables. <br><br>
                                        • Per Hour / Visit Fee Model – We charge our client basis per visit / hours. <br><br>
                                        • Transaction Based Fee Model – We charge our client per transaction basis. <br><br>
                                        • This is more relevant in providing accounting or transaction-based services. <br><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                

                
        </div>
            </p> 
            <br><br>
            <br><br><br><br><br><br><br><br>
        </div>

        
    </div>

        <div>
            <div class="p-3 mb-2 bg-dark text-black">
            <h3 >
                <div class="text-center text-white">
                TEAM'S SOCIALS
            </div>
            </h3>
            
            <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">Mr Manish Gupta</h5>
                      <p class="card-text text-center">connect to me through links below</p>
                      <div class="text-center">
<a href="mailto:manish_49@yahoo.com?subject=Buisness Enquiry" type="button" class="btn btn-success">Email</a>
<a href="https://www.linkedin.com/in/manish-gupta-21881a8/" type="button" class="btn btn-info">Linkedin</a>
<a href="https://wa.me/919212250127?text=buisness%20Enquiry" type="button" class="btn btn-warning">Whatsapp</a>
<a class="btn btn-danger btn-sm" href="tel:+91921-225-0127">contact no</a>                   
</div>
                </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">Ms Neeru Gupta</h5>
                      <p class="card-text text-center">connect to me through links below</p>
                      <div class="text-center ">
                        <a href="mailto:caneeru@gmail.com?subject=Buisness Enquiry"type="button" class="btn btn-success">Email</a>
                        <a href=""type="button" class="btn btn-info">Linkedin</a>
                        <a href="https://wa.me/919654012634?text=buisness%20Enquiry"type="button" class="btn btn-warning">Whatsapp</a>
                        <a class="btn btn-primary btn-sm" href="tel:+91965-401-2634">contact no</a>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center"><br><br><br><br><br>
                <h3>REACH OUT TO US FOR INQUIRY RELATED TO OUR SERVICES</h3><br><br>
    
                <a href="https://wa.me/919212250127?text=Name%20-%20%0APhone%20No-%0AEmail-%20%0AHow%20can%20we%20help%20you-%20%0AEnquiry%20related%20to%20you%20service%20-%20"type="button" class="btn btn-warning">Inquiry on Whatsapp</a>
                <h6>or</h6>
                <a href="https://wa.me/919654012634?text=Name%20-%20%0APhone%20No-%0AEmail-%20%0AHow%20can%20we%20help%20you-%20%0AEnquiry%20related%20to%20you%20service%20-%20"type="button" class="btn btn-warning">Inquiry on Whatsapp</a><br><br>
                <a href="mailto:mgngandco@gmail.com?cc=Manish_49@gmail.com,caneeru@gmail.com&subject=Enquiry%20related%20to%20your%20services&body=Name%20-%20%0D%0A%0D%0APhone%20No-%0D%0A%0D%0AEmail-%20%0D%0A%0D%0AHow%20can%20we%20help%20you-%20%0D%0A%0D%0AEnquiry%20related%20to%20your%20service%20-"type="button" class="btn btn-success">Inquiry on Email</a>
                
                <br><br><br><br>
            </div>
            
            

            {% include 'footer.html' %}
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html> 