
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
        <a href="#" class="navbar-brand" >menu</a>
        <button
            class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        
            <ul class="navbar-nav ">
                <li >
                <a class="nav-link" aria-current="page" href="?../templates/home.html">Home</a>
                </li>
                <li>
                <a class="nav-link" href="#about">ABOUT</a>
                </li>
                <li>
                <a class="nav-link" href="#services">SERVICES</a>
                </li>
                <li>
                    <a class="nav-link" href="#security">SECURITY POLICY</a>
                    </li>
                <li>
                    <li>
                        <a class="nav-link" href="#faci">FACILITIES</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#net">NETWORK & SYSTEM</a>
                            </li> 
                            
                <li>
                <a class="nav-link" href="#clientele">CLIENTELE</a>
                </li>
                <li>
                <a class="nav-link" href="#feemodel">FEE MODEL</a>
                </li> 
                <li>
                    <a class="nav-link" href="#contacus">CONTACT US</a>
                    </li>
            </ul>
    
    </div>
</div>
</nav>
<div style="height:56px"></div>