<p>
    
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Read more
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body text-black">
    <h4>Setting up Internal Control Procedure to Minimize Risk of Fraud</h4>
            • Design and implementation of end to end “procurement to pay” procedure.<br>
            • Design and implementation of end to end “Order to Cash” procedure.<br>
            • Design and implementation of payroll process<br>
            Benefit to your organization<br>
            • Above three processes would cover around 80% of your overall transaction in the organization leaving no or minimum room for any fraud<br>

  </div>
</div>