<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample01" aria-expanded="false" aria-controls="collapseExample01">
      Read more
    </button>
  </p>
  <div class="collapse text-black" id="collapseExample01">
    <div class="card card-body">
        <h4>Book Keeping / Back Office Accounting</h4>
        <p>
        • Prepare Industry Specific “chart of accounts”<br>
        • End customer invoicing, accounting and recording of client payments<br>
        • Track and reporting of accounts receivables ageing<br>
        • Follow up with ageing customers as per client’s suggestion<br>
        • Enter bank deposits<br>
        • Record cheque issued<br>
        • Accounting of supplier invoices<br>
        • Set up and manage supplier payment process<br>
        • Enter payroll information of your staff<br>
        • Manage monthly pay disbursement process along with statutory<br>
        compliance like TDS, PF, ESI deduction etc.<br>
        • Track advance payments made to staff<br>
        • Bank reconciliation<br>
        • Reconcile credit card transactions<br>
        • Correct any errors and write up adjustment entries<br>
        • Fixed assets accounting (from initial cost recognition to assets retirement)<br>
        • Fixed assets tagging<br>
        • Fixed assets register<br>
        • Physical fixed assets verification<br>
        • Impairment analysis<br>
        • Asset management and reporting<br>
        • Inventory management<br>
        • General ledger Reconciliation<br>

        <u><h4>Software currently used in Accounting services are:</h4></u><br>
        • For Indian clients<br>
        o Tally(allversionincludingPrime) o Busy<br>
        o SAP<br>
        • For Australian clients o AccountsRight o MYOBEssential<br>
        o Xero<br>
        <u><h4>Benefit to your organization</h4></u><br>
        • You don’t need to hire full time employees<br>
        • You don’t have to bother about legal compliances like PF, Gratuity etc.<br>
        • You don’t have to pay for un utilized time of the staff as you will be paying<br>
        on the basis of “Pay peruse”<br>
        • You don’t have to worry about managing your accounting in the absence<br>
        of your staff as we will have enough backup resources<br>
        • You will be able to focus on more strategic planning<br>

        </p>

    </div>
  </div>