<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample11">
    <div class="card card-body text-black">
      
       <h5> Company Law Matters (Under Indian Companies/LLP Acts)</h5>
        o Incorporation of companies under companies act 2013<br>
        o Incorporation of Limited Liability Partnership Firmunder LLP provisions o Filling of various company law related forms<br>
        o Filling of Annual Accounts<br>
        o Filling of Annual Returns<br>
        o Charge Creation<br>
        o Conversion of Private Limited company into Public Limited
        Company<br>
        o Change of registered office from one state to another state<br>
        o Appointment of directors/additional directors<br>
        o Preparation of minutes books<br>
        o Preparation of statutory register<br>
        o Compliance around Issue of preferential or equity shares via private
        placement / preferential allotment route.<br>
        o Transfer of shares<br>
        <h5>Benefit to your organization</h5>
        o One stop solution for all your Companies Act related matters<br>
    </div>
  </div>