<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample11">
    <div class="card card-body">
      
       <h5> Company Law Matters (Under Indian Companies/LLP Acts)</h5>
        o Incorporation of companies under companies act 2013
        o Incorporation of Limited Liability Partnership Firmunder LLP provisions o Filling of various company law related forms
        o Filling of Annual Accounts
        o Filling of Annual Returns
        o Charge Creation
        o Conversion of Private Limited company into Public Limited
        Company
        o Change of registered office from one state to another state
        o Appointment of directors/additional directors
        o Preparation of minutes books
        o Preparation of statutory register
        o Compliance around Issue of preferential or equity shares via private
        placement / preferential allotment route.
        o Transfer of shares
        <h5>Benefit to your organization</h5>
        o One stop solution for all your Companies Act related matters
    </div>
  </div>