<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Read more
    </button>
  </p>
  <div class="collapse " id="collapseExample1">
    <div class="card card-body ">
      <div class="text-black">
        <h4>Financial Planning & Analysis(FP&A)</h4><br><br>
        <h5>Industry Specific Standard Reports / Matrices (including customized ones)</h5>
        • Income and expense / profit and loss statement (with key performance
        matrices)<br>
        • Balance sheet with key focus on major exposure areas.<br>
        • Cash flow statement with highlighting major sources of cash inflow &
        outflow<br>
        • Monthly balanced score card which provide key matrices around your
        operations such as:<br><br>
        <h5>o Sales performance by: </h5>
        ▪ Sales personnel<br>
        ▪ Key customers<br>
        ▪ Key products<br>
        ▪ Key geographical regions<br>
        <br>
        
        o Daily sales out standing(DSO) by above parameters<br>
        o Average Sales Price and their movement over a period of time helping you in analyzing competition from peer groups/competitors<br><br>
        <h5>o Purchase cost comparison by </h5>
        ▪ Key vendors<br>
        ▪ Key products<br>
        ▪ Key geographical regions<br>
        <br>
        Daily payment out standing(DPO)<br>
        o Average purchase price and the ir movement over a period of time<br>
        helping you in analyzing economies of scale achieved<br><br>
        <h5>o Inventory</h5><br>
        ▪ Reporting of Slow moving or dead inventory<br>
        ▪ Economic Order Quantity<br>
        ▪ Inventory turnover will help you analyzing efficacy of your
        operating cycle<br><br>
        <h5>Other Reports</h5><br>
        o Key Utilization matric (employees,machinery and othe roperational assets)<br>
        o Return on investment and pay back period matrices <br>
        o Break even point<br><br>
        <h5>Key Benefits to your organization</h5>
        o Balance score card will provide you with all key matrices on one page which will help you in holding grip around key operational aspect of your business.<br>
        o Monthly report will provide you with key matrices around your organization like Sales, Profit, Average Sales price of your product etc.<br>
        o Month on Month variance analysis will provide your information about key operation area where you need more focus like sales variance report will provide you information about which product/geography is performing well as compared to previous month<br>
        o You will be better equipped in making right decision at right time.<br>
            
      </div>
    </div>
  </div>