<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample4">
    <div class="card card-body">
        <h5>Monthly Forecast - P&L and Balance Sheet</h5>
        o Design Forecasting model<br>
        o Monthly Update forecast numbers based on the discussion with Key
        people in your organization<br>
        o Provide out look summary of your business
        Benefit to your organization<br>
        o Fore cast report will provide you be forehand information about your sales/performance<br>
        o Beforehand help in taking key decision which will help your future performance<br>
        o Provide you key focus point for up coming months<br>
    </div>
  </div>