<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample5">
    <div class="card card-body text-black">
        <h5>Periodic Budget or Target Setting Procedure</h5>
        o Setting up your baseline by following historical trending or with Zero base budgeting approach.<br>
        o Help Defining target for new fiscal year considering previous baseline<br>
        o Monthly reporting of you business performance against targets<br>
        o Help identifying performing and/or non performing
        units/products/functions in your organization.<br><br>
        <h5>Benefit to your organization</h5>
        o Provide baseline for comparing your actual performance<br>
        o Help driving entrepreneurship behavior at all functional level o Increase accountability at all  functional levels<br>
    </div>
  </div>