<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExampl6">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample6">
    <div class="card card-body">
        <h5>Financial Modelling</h5>
        o Pricing Model(for product/service pricing)<br>
        o Forecasting model(Sales,P&L,Balance Sheet etc)<br>
        o DCF Model(Discounted Cash FlowModel for sharevaluation)
        <h5>Benefit to your organization</h5>
        o Reduced manual efforts with high level of accuracy<br>
        o Easy to use-all above financial models are user friendly<br>
        o Facilitate quick price calculation due to change in variable cost<br>
        o Quick reference during price negotiation with customer or response
        to RFPs within tight timelines<br>
        o Provide base for comparison with your actual average price<br>
        o Help visualizing future trends by manipulating various variables in the
        models<br>
        
    </div>
  </div>