<p>
    
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
      Read more
    </button>
  </p>
  <div class="collapse" id="collapseExample9">
    <div class="card card-body">
        <h5>Financing Arrangement with Bankers</h5>
        o Dealing with Bankers on your behalf<br>
        o Monthly compliance as per financial arrangement agreement.<br>
        o Documentation for renewal of your CC/OD limits<br>
        o Preparing CMA data for fresh loan<br>
        o Supporting preparing project reports for term loans<br>
        o All other legal compliance around your outstanding loans<br>
        <h5>Benefit to your organization</h5>
        o One stop solution for all your financials arrangement with banks and
        / or financial institutions<br>
        
    </div>
  </div>